@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --red: #d01c28;
    --gray:#2e2e2e;
}
body{
    font-family: "Poppins", sans-serif;
    background-color: rgb(223, 221, 221);
}

.cointainer{
    margin:0 auto;
    max-width:1440px;
}
button{
    all:unset;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:6px 16px 6px 16px;
    background: var(--red);
    height:32px;
    color: black;
    font-weight: 500;
    font-size:14px;
    border-radius:4px;
    cursor:pointer;
    gap:10px;
    width:75px;
    height:31px;
}

nav{
    position:sticky;
    top:0;
    background-color:white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    z-index:1000;
    display: flex;
    justify-content:space-between;
    height:72px;
    align-items:center;
}

nav ul{
    display:flex;
    list-style: none;
    gap:24px;
    margin:0;
    padding:0;
}

nav ul li a{
    color:black;
    text-decoration: none;
    font-weight:500;
}

.hero{
    display:flex;
    align-items:center;
    height:calc(100vh- 75px);;
}

.hero h1{
    font-weight:800px;
    font-size:108px;
    line-height:102px;
}
.hero p{
    font-weight:600;
    color:var(--gray);   
    max-width:400px;
}
.hero button{
    display:flex;
    flex-direction: row;
    gap:40px;

}

.secondary-btn{
    color:var(--gray);
    border:1px solid var(--gray);
    background: transparent;
}

.shopping p{
    font-size: 14px;
    margin-bottom: 8px;
}
.brand-icons{
    display:flex;
    gap:24px;
    margin-top:32px;
}
.hero-content{
    display:flex;
    flex-direction:column;
    gap:36px;
}